#menu ul{
    list-style:none;
    float: left;
}
#menu li, #menu li a {
    font-family: Helvetica;
    text-transform:uppercase;
    font-size:15px;
    font-weight:normal;
    float: left;
    list-style-type: none;
    padding-left:10px;
    padding-top:5px;
    padding-bottom:5px;
    text-decoration:none;
    color: #d6d4d4;

}
#menu li a:hover{
    color: rgb(255, 253, 253);
    text-shadow: 1px 1px 1px rgba(201, 201, 201, 0.53);
}





