html{
    height: 100%;
}
body{
    font-family: Arial, serif;
    background: url(../images/classy_fabric.png) repeat;
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    height: 100%;
}
#total{
    height: auto !important;
    min-height: 100%;
    height: 100%;
}
#footer_space{
    height: 100px;
    clear: both;
}
#header{
    height: 80px;
    width: 70%;
    margin:auto;
    position: relative;
    padding: 20px;
    margin: auto;
}
#logo{
    float: left;
    width: auto;
}
div#menu{
    float: right;
}
#main{
    position: relative;
    width: 100%;
    min-height: 100%;
}
#content{
    background: url("../images/cream_dust.png") repeat;
    width:70%;
    height: 100%;
    position: relative;
    padding: 20px;
    margin: auto;
    min-height:500px;
    overflow: hidden;
}
#info{
    width: 70%;
    float: left;
}
#search_form{
    float: right;
    width: 260px;
    margin: auto;
    font-family: Arial,sans-serif;
    font-weight: normal;
    color: #1a3d51;
    font-size: 16px;
    text-shadow: rgba(255, 255, 255, 0.7) 1px 1px 1px;
    padding: 20px;
    background-color: #5babd6;
    border-radius: 4px;
    box-shadow:  inset rgba(0,0,0,.4) 1px 1px 1px;

}
#footer{
    height: 50px;
    clear: both;
    margin-top: -100px;
    margin-left: auto;
    margin-right: auto;
    float: inherit;
    padding: 20px;
    width: 70%;
    background: url(../images/classy_fabric.png) repeat;
    text-align: center;
    font-size:20px;
    background-color: #363636;
    color: #aeaeae;
}

#button_wrap{
    text-align: center;
    width: 110px;
    height: 30px;
    padding: 5px 5px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5fafe), to(#e2edf4));
    background-image: -webkit-linear-gradient(top, #f5fafe, #e2edf4);
    background-image: -moz-linear-gradient(top, #f5fafe, #e2edf4);
    background-image: -ms-linear-gradient(top, #f5fafe, #e2edf4);
    background-image: -o-linear-gradient(top, #f5fafe, #e2edf4);
    background-image: linear-gradient(to bottom, #f5fafe, #e2edf4);
    border-radius: 5px;
    box-shadow: inset rgba(255, 254, 255, 1) 0 0.1em 2px, #9bb6c9 0 1px 2px;
    position: relative;
}
input[type=submit]{
    margin:auto;
    position: relative;
    vertical-align: top;
    height: 30px;
    min-width: 100px;
    max-width: 100px;
    border-radius: 2px;
    border: 1px solid #aa7818;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb700), to(#ff8c00));
    background-image: -webkit-linear-gradient(top, #ffb700, #ff8c00);
    background-image: -moz-linear-gradient(top, #ffb700, #ff8c00);
    background-image: -ms-linear-gradient(top, #ffb700, #ff8c00);
    background-image: -o-linear-gradient(top, #ffb700, #ff8c00);
    background-image: linear-gradient(to bottom, #ffb700, #ff8c00);
    box-shadow: inset rgba(255, 255, 255, .5) 0 0.1em 0.1em;
    cursor: pointer;
}

input[type=submit]:hover{
    margin:auto;
    position: relative;
    vertical-align: top;
    height: 30px;
    min-width: 100px;
    max-width: 100px;
    border-radius: 2px;
    border: 1px solid #aa7818;
    background-image: -webkit-linear-gradient(top, #ffcb48, #ff9c23);
    background-image: -moz-linear-gradient(top, #ffcb48, #ff9c23);
    background-image: -ms-linear-gradient(top, #ffcb48, #ff9c23);
    background-image: -o-linear-gradient(top, #ffcb48, #ff9c23);
    background-image: linear-gradient(to bottom, #ffcb48, #ff9c23);
    box-shadow: inset rgba(255, 255, 255, .5) 0 0.1em 0.1em;
    cursor: pointer;
}
input[type="text"].booking, select.booking, textarea.booking{
    font-family: Arial,serif;
    font-weight: bold;
    color: #1a3d51;
    background: #d8e6ef;
    border-radius: 2px;
    padding: 2px;
    width: 115px;
    border: 0;
    font-size: 12px;
    text-shadow: rgba(255, 255, 255, 0.7) 1px 1px 1px;
    box-shadow: inset rgba(0,0,0,.4) 0 1px 1px;
}
input[type=text] {
    background-color: #fefefe;
    color: #4d4d4d;
    font-family: Arial,sans-serif;
    font-weight: normal;
    color: #1a3d51;
    font-size: 13px;
    border: 1px solid #c4c4c4;
    padding: 2px 2px 2px 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}



label{
    font-family: Arial,serif;
    font-style: italic;
    font-weight: normal;
    color: #1a3d51;
    font-size: 12px;
    padding-right: 15%;
}
li{
    list-style-type: none;
}
div#repeat_search{
    width: 100%;
    height: auto;

}
div#advanced_search{
    float: left;
    text-align: left;
    width: 20%;

}
div#search_result{

    float: left;
    width: 80%;
    border-radius: 2px;
    height: 100%;
    min-height: 600px;
}

div#result_list{
    width: 100%;
    min-height: 100%;
}

div#favourite_hotels_block{
    float:  right;
    width: 20%;
    min-height: 300px;
}
ul#hotels_list_item{
    margin: 10px;
}
tr.hotel{
    border-bottom: navy solid thin;
    border-top: #807d65 solid thin;
    border-left: none;
    border-right: none;
}
tr.hotel a{
    text-decoration: none;
    color: #20282D;
}
tr.hotel a:hover{
    text-decoration: underline;
    color: #3a5057;
}
tr.hotel .title{
    width: 300px;
    float: left;
}
span#title{
    font-family: Arial,serif;
    font-style: italic;
    font-weight: normal;
    color: #1a3d51;
    font-size: 15px;
    border-bottom: #1c94c4 1px solid;
}
#load {
    text-align: center;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=55);
    -moz-opacity: 0.55;
    -khtml-opacity: 0.55;
    opacity: 0.90;
}
* html #load {
    position: absolute;
    height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + "px");
}
#gotop{
    position:fixed;
    width:41px;
    height:41px;
    right:20px;
    bottom:20px;
    display:block;
    background:url('../images/gotop.png') no-repeat;
    z-index:9998;
    display:none;
}

a{
    text-decoration: none;
    color: #1a3d51;
}
a:hover{
    text-decoration: underline;
    color: #4C5A64;
}
.specialty td{
    font:normal 92.5%/1.3 Helvetica, Arial, sans-serif;
    padding: 0px 20px 10px 10px;
    padding-left: 2%
}

.ui-autocomplete {
    width: 260px;
    font-size: 11pt;
    height: auto;
    max-height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(123, 176, 255, 0.80);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgb(63, 192, 255);
}

::-webkit-input-placeholder {font-family: Arial,serif;
    font-weight: normal;font-style: italic;
    color: #1a3d51; opacity: 0.5; }
::-moz-placeholder { font-family: Arial,serif;
    font-weight: normal;font-style: italic;
    color: #1a3d51; opacity: 0.5 }
:-ms-input-placeholder { font-family: Arial,serif;
    font-weight: normal;font-style: italic;
    color: #1a3d51; opacity: 0.5 }
input:-moz-placeholder { font-family: Arial,serif;
    font-weight: normal;
    font-style: italic;
    color: #1a3d51; opacity: 0.5 }

div.error {
    color: rgba(255, 0, 0, 0.47);
    font-style: italic;
    position: relative;
    z-index: 999;
}

input.error {
    border: 1px solid rgba(255, 0, 0, 0.54);
}
#preloader{
    text-align: center;
    height:20px;
    background:url('../images/ajax-loader.gif') no-repeat center center;
    width:260px;
    display:none;
    margin: auto;
}