.info_table {
    margin: 0px;
    padding: 0px;
    width: 100%;
    border: 1px solid #ffffff;
}

.info_table table {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.info_table tr:nth-child(odd) {
    background-color: rgba(170, 212, 255, 0.37);
}

.info_table tr:nth-child(even) {
    background-color: rgba(211, 233, 255, 0.34);
}

.info_table td {
    vertical-align: text-top;
    border: 1px solid #ffffff;
    border-width: 1px 1px 1px 1px;
    text-align: left;
    padding: 7px;
    font-size: 12px;
    font-family: Arial;
    font-weight: normal;
    color: #000000;
}
.info_table td:hover {
    border: 1px solid rgba(255, 203, 72, 0.61);
    border-width: 1px 1px 1px 1px;
}
